header {
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;

    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#backdrop {
    background-color: rgba(0, 0, 0, 0.55);
    padding: 1px 1rem;
}

#header-content {
    margin: 3em auto;
    max-width: 35em;
}

#header-content h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold;
    line-height: 1.2em;
}

#sub-title {
    font-weight: bold;
    font-size: 1.25em;
    margin: 1.6em 0px;
    line-height: 1.4em;
}

header a, header a:hover {
    color: inherit;
    text-decoration: underline;
}

#candidates {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.candidate {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.headshot {
    width: 220px;
    height: 275px;
    vertical-align: top;
}

.vote-button-container {
    text-align: center;
    margin: 1.5rem 0px;
}

.gop-button {
    background-color: #ff5d5d;
    border: 1px solid #f00;
    color: #fff;
}

.gop-button:hover {
    background-color: #f00;
    color: #fff;
}

.dem-button {
    background-color: #5d5dff;
    border: 1px solid #00f;
    color: #fff;
}

.dem-button:hover {
    background-color: #00f;
    color: #fff;
}

.indy-button, .lib-button {
    background-color: #aaa;
    border: 1px solid #888;
    color: #fff;
}

.indy-button:hover, .lib-button:hover {
    background-color: #888;
    color: #fff;
}

.green-button {
    background-color: #4dc54d;
    border: 1px solid #00a200;
    color: #fff;
}

.green-button:hover {
    background-color: #00a200;
    color: #fff;
}

.public-or-private-choice {
    text-align: center;
}

.public-or-private-explanation {
    margin-top: 1em;
    margin-bottom: 1em;
}

.public-or-private-btn {
    font-size: 1.1em;
}

.candidate-name {
}

#confirm-private-vote-button-container {
    text-align: center;
}

#conform-private-vote-button {
    font-size: 1.1em;
}

#faq {
    max-width: 33em;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
    font-size: 16px;
}

.question {
    font-size: 1.25em;
    font-weight: bold;
}

.answer {
    color: #292F33;
}

footer {
    background-color: #222;
    color: #666;
    text-align: center;
    padding: 1.5em 1rem;
    font-size: 0.8em;
}

footer a, footer a:hover {
    color: #bbb;
    text-decoration: inherit;
}